.vp{
  height: 100vh;
  @include flexCol;
  @include maxWidth;
  justify-content: flex-start;
}

header{
  @include flexCol;
  @include maxWidth;

  justify-content: center;
  align-items: center;

  & img{
    width: 100px;
    margin-top: 32px;
  }

  & h1{
    margin: 16px;
  }
}

.menu{
  @include flexCol;
  @include maxWidth;

  & a{
    @include flexRow;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    background-color: $gray;
    border-radius: 16px;
    padding: 16px;
    transition: 0.5s;

    & i{
      font-size: 1.5rem;
      margin-left: 16px;
    }
  }
}

@media (hover){
  .menu a:hover{
      background-color: $accent;
    }
}

footer{
  @include flexCol;
  max-width: 540px;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  margin-top: auto;
  padding: 32px;

  & p{
    margin-top: 32px;
    line-height: 1.5;
  }
}

@media only screen and (max-width: 540px){
  header img{
    width: 75px;
    margin-top: 16px;
  }

  .menu a{
    border-radius: 0%;
  }
}
